<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img style="object-fit: contain;height: 200px !important;" src="/assets/winch.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Drivix App </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> this version of Drivix Application is for winch drivers only Edition </p>
      </ion-card-content>
    </ion-card>
    <br>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button [disabled]="!checkHasReques()"  (click)="changeAvilability('1')" *ngIf="avilabel === '0'" expand="full" shape="round" color="medium">
          Active Status off
          <ion-icon slot="end" name="radio-button-on" ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon>
        </ion-button>
        <ion-button (click)="changeAvilability('0')" *ngIf="avilabel === '1'" expand="full" shape="round" color="success">
          Active Status on
          <ion-icon slot="end" name="radio-button-on" ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
